* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main__container {
    margin: 40px;
}

body { 
    background-color: #222831;
    color: #f2f2f2;
    font-family: "Lucida Console","Courier New";
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav__button {
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
}

.info_introduction {
    align-items: start;
    background-color: gray; 
}

.info_introduction h2 {
    color: #f2f2f2;
    font-size: 64px;
    letter-spacing: 2px;
    line-height: 64px;
}

img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px rgb(10,10,10));
}

/*****************************************************/
/** FONT DECLARATIONS **/
@font-face {
    font-family: 'human_bby_officeregular';
    src: url('./fonts/regular-webfont.woff2') format('woff2'),
         url('./fonts/regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'human_bby_officeitalic';
    src: url('./fonts/italic-webfont.woff2') format('woff2'),
         url('./fonts/italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'human_bby_officebold_italic';
    src: url('./fonts/bold-italic-webfont.woff2') format('woff2'),
         url('./fonts/bold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'human_bby_officebold';
    src: url('./fonts/bold-webfont.woff2') format('woff2'),
         url('./fonts/bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* background: linear-gradient(to right, #ff5500, #FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */